@import url('./docs.less');
@import url('./highlight.less');
* {
  margin: 0;
  padding: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}

.index {
  height: calc(100vh - 65px);
  background: linear-gradient(to left, #28a5f5, #1e87f0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15%;
  box-sizing: border-box;
  color: #fff;
  position: relative;

  .logo {
    margin-bottom: 40px;
  }

  .section {
    text-align: center;
    .title {
      margin-bottom: 10px;
    }
    .sub-title {
      opacity: 0.8;
      a {
        text-decoration: underline;
      }
    }
    .toolbar {
      margin-top: 60px;
      a {
        border-radius: 30px;
        width: 110px;
        height: 50px;
        display: inline-block;
        line-height: 50px;
        background-color: #fff;
        color: #1e87f0;
        border: 1px solid #fff;
        transition: box-shadow 0.3s linear;
        &:hover {
          box-shadow: 0 5px 10px #1e87f0;
        }
      }
    }
  }

  .foot {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.8;
    font-size: 14px;
  }
}

.main-header {
  height: 65px;
  background: linear-gradient(to left, #28a5f5, #1e87f0);
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 30px;
    img {
      width: 100%;
    }
  }

  .main-nav {
    display: flex;
    li {
      list-style: none;
      margin: 0 20px;
      padding: 0;
      color: #fff;
    }
  }
}

.main-wrapper {
  display: flex;
  height: calc(100vh - 66px);
  overflow: auto;

  &__menu {
    border-right: 1px solid #eee;
    width: 300px;
    height: inherit;
    padding: 30px;
    box-sizing: border-box;
    overflow: auto;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;

    a {
      font-size: 14px;
      display: block;
      color: #333;
      padding: 8px 12px;
      transition: background-color 0.3s ease;

      &.router-link-active {
        font-weight: bold;
        color: #1e87f0;
      }
    }
    a:hover {
      background-color: #efefef;
    }
    dl {
      margin-bottom: 10px;
      dt {
        font-size: 13px;
        color: #00000073;
        padding: 8px 12px;
        margin: 10px 0;
        border-bottom: 1px solid #eee;
      }
      dd {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &__content {
    flex: 1;
    padding: 30px 180px 30px 330px;
  }

  &__nav {
    position: fixed;
    border-left: 1px solid #eee;
    right: 0px;
    width: 150px;
    margin-top: 30px;
    font-size: 12px;

    .item {
      padding: 5px 20px;
      border-left: 1px solid transparent;
      cursor: pointer;
      user-select: none;

      &.active {
        color: #1e87f0;
        border-color: currentColor;
      }
    }
  }
}

.component-list {
  h2 {
    margin-bottom: 10px;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    dl {
      border: 1px solid #eee;
      width: 300px;
      height: 200px;
      margin-bottom: 20px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      transition: box-shadow 0.2s linear;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 30px fade(#000, 10%);
      }

      dt {
        height: 35px;
        font-size: 12px;
        line-height: 35px;
        padding: 0 20px;
        border-bottom: 1px solid #eee;
      }
      dd {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.demo-block {
  border: 1px dashed #eee;
  border-radius: 6px;
  padding: 15px;
  transition: border-color 0.2s linear;
  margin-bottom: 30px;

  &:hover {
    border-color: #1e87f0;
  }

  .tools {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px dashed #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;

    span {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      cursor: pointer;
      transition: background-color 0.2s linear;

      &:hover {
        background-color: #eee;
      }
    }
  }
}
